body{
    background-color: antiquewhite;
}

.part1text1{
    background-color: antiquewhite;
    text-align: center;
    align-items: center;
}

.part4text4{
    background-color: antiquewhite;
    text-align: center;
    align-items: center;
}


.part5text5{
    background-color: antiquewhite;
    text-align: center;
    align-items: center;
}

h1{
    align-items: center;
    align-self: center;
}

a{
    color:background-color: antiquewhite;
}
